{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
    <h1 class="text-primary"> Bienvenue sur la billetterie du musée du Louvre ! </h1>
    <section>
        <div class="p-3">
            <h3> Horaires d'ouverture :</h3>
            <ul><span class="bold"> Ouvert :</span>
                <li> Du mercredi au lundi de 9h à 18h.</li>
            </ul>
            <ul><span class="bold">Fermé : </span>
                <li> Le mardi.</li>
                <li> 1er janvier, le 1er mai et le 25 décembre</li>
            </ul>


        </div>
    </section>
    <section class="bloc">
        <h3 class="p-3"> Tarifs : </h2>
            <div class="row justify-content-around">

                <div class="box col-5 col-md-4 column">
                    <div class="col-sm">
                        <span class="bold">  Tarif enfant </span>
                        <span class="small">( 4 à 12 ans )</span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Journée complète: </span>
                        <span class="align-right"> 8€ </span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Demi journée : </span>
                        <span class="align-right"> 4€ </span>
                    </div>
                </div>

                <div class="box col-5 col-md-4 column">
                    <div class="col-sm">
                        <span class="bold">  Tarif Normal </span>
                        <span class="small">( 13 à 60 ans )</span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Journée complète: </span>
                        <span class="align-right"> 16€ </span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Demi journée : </span>
                        <span class="align-right"> 8€ </span>
                    </div>
                </div>

                <div class="box col-5 col-md-4 column">
                    <div class="col-sm">
                        <span class="bold">  Tarif Senior </span>
                        <span class="small">( + de 60 ans )</span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Journée complète: </span>
                        <span class="align-right"> 12€ </span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Demi journée : </span>
                        <span class="align-right"> 6€ </span>
                    </div>
                </div>

                <div class="box col-5 col-md-4 column">
                    <div class="col-sm">
                        <span class="bold">  Tarif Réduit</span>
                        <span class="small"></span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Journée complète: </span>
                        <span class="align-right"> 10€ </span>
                    </div>
                    <div class="col-sm">
                        <span class="small">  Demi journée : </span>
                        <span class="align-right"> 5€ </span>
                    </div>
                </div>
            </div>
    </section>
    {% if limitReached == false %}
    <div class="row justify-content-center p-3">
        <a href={{ path('reservation') }}>
            <button class="btn btn-lg btn-primary"> Je commande</button>
        </a>

    </div>

    {% else %}
    <p class="row justify-content-center p-3 alert-info">Le nombre maximum de billets vendus aujourd'hui à été atteint. Veuillez nous excuser pour la gêne occiasionée </p>
    {% endif %}
{% endblock %}