{% extends 'base.html.twig' %}

{% block title %}Hello {% endblock %}

{% block body %}
<h1 class="text-primary"> Commandez votre billet pour le musée du Louvre ! </h1>
<section> 
    <div class="p-3"> 
        <h3> Horaires d'ouverture :</h3>
        <ul><Strong> Ouvert :</Strong>
            <li>  Du mercredi au lundi de 9h à 18h. </li>
        </ul>
        <ul> <Strong>Fermé : </Strong> 
            <li> Le mardi. </li>
            <li> 1er janvier, le 1er mai et le 25 décembre </li>
        </ul>

    
    </div>
</section>
<section> <h3 class="p-3"> Tarifs : </h2>
<div class="alert-info row justify-content-around">
    <div class="box col-5 col-md-4"> Tarif enfant <small>( 4 à 12 ans )</small> </br> 8€ </div>
    <div class="box col-5 col-md-4"> Tarif normal </br> 16€ </div>
    <div class="box col-5 col-md-4"> Tarif senior<small> ( à partir de 60 ans ) </small> </br> 12€ </div>
    <div class="box col-5 col-md-4"> Tarif réduit </br> 10€ </div>
</div>
</section>
<div class="row justify-content-center p-3">
 <a href="/reservation"><button class="btn btn-lg btn-primary"> Je commande </button></a>

</div>
{% endblock %}