{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

<h1> Etape 1 : Choisissez la date de votre visite ! </h1>

<div class="">
{{ form_start(form) }}
<h2>
{{ form_row(form.reservationDate, {'label':"Date de la visite"}) }}

<!--<p>
Nombre de ticket(s) </p>
<p>
<input type="number" name="number" placeholder="0" min="1" required> </input> </p>

-->
<button type="submit" class="btn btn-primary"> Suivant </button>

</div>
{% endblock %}
