{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<h1> Réserver ici votre billet pour le Louvre ! </h1>

{{ form_start(form) }}

{{ form_row(form.dateTime, {'label':"Date de la visite"}) }}

{{ form_row(form.amountOfTickets,{'attr' :{'placeholder':"0"} , 'label':"Nombre de billets"} ) }}

{{ form_row(form.Envoyer)}}

{% endblock %}
