{% extends 'base.html.twig' %}
{% block title %}Hello {% endblock %}

{% block body %}
<h1> Etape 2 : Saisissez vos données personnelles   </h1>

<h2> Billet 1 : </h2> 


<button class="btn btn-primary"> Ajouter un 2 ème billet </button>
<button class="btn btn-success"> Récapitulatif et paiement </button>
{% endblock %}