  body{background-color:rgba(150, 200, 250,0.7);color:white;}
        h1{margin:1.5rem;font-size:2rem;text-align:center;}
        h2,h3{color :black;;size:1.7rem;;}
        section{margin:1.5rem;color:black;}